:root{
    --black: #1A1A1A;
    --grey: #202020;
    --white: #CACACA;
    --transparentGrey: #202020AA;
    --red: #A34444F0;
}

*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    color: var(--grey);
    background-color: var(--white);
    margin: 0;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#starter{
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: var(--transparentGrey); */
    z-index: 11;

    display: flex;
    justify-content: center;
    align-items: center;
}
#starter video{
    position: fixed;
    opacity: .5;
    width: 100vw;
    margin: 0;
}
#starter button{
    animation: bob 3s ease-in-out infinite;
}
@keyframes bob {
    0%{scale: 1;}
    50%{scale: 1.2;}
    100%{scale: 1;}
}

#starterContent{
    height: 66vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
#starterContent input{
    scale: 2;
    border: .25vw solid var(--grey);
    border-radius: .25vw;
}

#turnoDi{
    visibility: hidden;
    font-size: 4rem;
    margin: 0;
}

/* Gioco */

.blur{
    filter: blur(2px) brightness(2);
}

.hider{
    display: none;
    width: 10rem;
    height: 10rem;
    position: fixed;
    translate: 10% -50%;
    z-index: 10;
    margin-top: 6rem;

    /* border: 5px solid cadetblue; */
}

.tab{
    margin: .75rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tab button{
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--grey);
    color: var(--white);
    border: 0;
    border-radius: .25rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tab button:disabled{
    cursor: default;
    /* background-color: transparent;
    color: #202020; */
}
.tab button:active{
    scale: .9;
}

#tableHolder{
    visibility: hidden;
    margin-top: 2rem;
}
.fadeIn{
    animation: tableGetIn 1.5s ease;
}
@keyframes tableGetIn {
    0% {scale: .8; filter: opacity(0);}
    70%{scale: 1.05;}
}

.winLabel{
    width: 9.5rem;
    height: 9.5rem;
    font-size: 10rem;
    animation: winLabelEnter .25s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes winLabelEnter {
    0%{scale: 1.5; transform: rotate(120deg) skew(20deg);}
}


/* Tris line */

.trisLine{
    display: none;
    position: fixed;
    width: 50rem;
    height: 2rem;
    margin-top: calc(3rem * 6 - 1.7rem);
    margin-left: calc(-3rem * 2 - 1.7rem);
    border-radius: 10rem;
    background-color: var(--red);
}

.trisAnimation{
    animation: trisAnimation 1.5s ease;
}
@keyframes trisAnimation {
    0%{scale: 0; border-radius: 0;}
    75%{scale: 1.1;}
}

#roomCodeDisplay{
    position: fixed;
    padding: 30rem 0;
    color: var(--white);
    font-size: 3.5rem;
    font-weight: 600;
}

#restartBtn{
    z-index: 11;
}


/* Audio Management */

#blurrer{
    display: none;
    position: fixed;
    width: 100vw;
    height: 125vh;
    background-color: var(--transparentGrey);
    margin: 0;
}

#audioManager{
    display: none;

    position: fixed;
    translate: 0 2rem;
    padding: 5rem;
    border-radius: 1rem;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    width: 33rem;
    z-index: 11;
    animation: slideIn .2s ease-in;
}
@keyframes slideIn {
    0%{transform: translateY(100rem);}
}

#audioManager h1{
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 3rem;
}

#apriAudioBtn{
    background-image: url("../RESOURCES/volumeIcon.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border: .2vw solid var(--black);
    border-radius: 10rem;
    background-color: var(--white);
    cursor: pointer;
    visibility: hidden;
}
#apriAudioBtn:active{
    scale: .9;
}

.cliccableButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    border: solid 3px var(--black);
    border-radius: .5rem;
    padding: 1rem;
    width: 20rem;
    color: var(--white);
    background-color: var(--grey);
    cursor: pointer;
}
.cliccableButton:active{
    scale: .9;
    color: var(--grey);
    background-color: var(--white);
}

#gameTitle{
    width: 30rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sfxCheck{
    cursor: pointer;
}

.optionHolder{
    padding: 1rem;
    margin: .5rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: var(--grey);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p{
    text-align: center;
    font-size: 1.3rem;
    width: 66rem;
}


/* Slider, checkbox e scrollbar */


#volSlider {
    appearance: none;
    width: 60%;
    height: 1rem;
    border-radius: .2rem;
    background: var(--white);
    outline: none;
    -webkit-transition: .2s;
    opacity: 0.8;
    transition: opacity .2s;
}

#volSlider:hover {
    opacity: 1;
}

#volSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .2rem;
    background: var(--red);
    cursor: pointer;
}



input[type="checkbox"]
{
    accent-color: var(--red);
    scale: 2.5;
}


/* width */
::-webkit-scrollbar {
    width: .75vw;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white); 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
}


/* Tutorial */


.tutorialSection{
    width: 80vw;
    margin-bottom: 2.5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tutorialSection:nth-child(even)
{
    flex-direction: row-reverse;
}

.tutorialSection div{
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorialSection h2{
    text-align: center;
    font-size: 3.25vw;
    margin-bottom: 0;
}

.tutorialSection p{
    font-size: 1.75vw;
    width: 100%;
}

.tutorialSection video{
    width: 30vw;
    height: 30vw;
    border: 0.2vw solid var(--grey);
    border-radius: 0.5vw;
}

.buttonHolder{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 7.5vh;
}

#mainTitle{
    font-size: 5vw;
    margin: 0;
}
#mainSubtitle{
    font-size: 2.5vw;
    margin-bottom: 3vw;
}